.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.product-card {
  margin: 10px;
  padding: 20px;
  width: 230px;
  text-align: center;
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: math;
}

.product-card h2 {
  margin-bottom: 20px;
  margin-top: 0;
  user-select: none;
  font-weight: 100;
}

.product-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  user-select: none;
  pointer-events: none;
  max-height: 30%;
}

.container-name {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-family: math;
  font-size: 18px;
  margin-left: 20px;
  user-select: none;
}

.e {
  color: #c048e7;
  font-weight: 100;
  font-size: 18px;
  font-family: cursive;
}

.cha {
  font-style: italic;
  font-size: 22px;
  color: #ffffff;
  font-family: math;
  user-select: none;
}

.coracao {
  height: 20px;
  width: 27px;
  margin-right: 20px;
}

body {
  background-color: #ededed;
  font-family: math;
}

.reservar {
  background-color: #647baa;
  color: #fff;
  width: 270px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -20px;
  border-radius: 0px 0px 15px 15px;
  font-family: math;
  user-select: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adiciona um fundo escuro semitransparente */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  width: 260px;
}

/* Animação para abrir o modal */
@keyframes modalopen {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-open {
  animation-name: modalopen;
  animation-duration: 0.3s; /* Duração da animação */
}

.modal-close {
  animation-name: modalclose;
  animation-duration: 0.3s; /* Duração da animação */
}

/* Animação para fechar o modal */
@keyframes modalclose {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.modal-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.confirmar {
  font-family: math;
  background-color: #b26868;
  border: none;
  height: 30px;
  width: 80px;
  color: #ffffff;
  border-radius: 5px;
}

.cancelar {
  font-family: math;
  background-color: #647baa;
  border: none;
  height: 30px;
  width: 80px;
  color: #ffffff;
  border-radius: 5px;
}

.container-img {
  width: 100%;
  height: 240px;
}

.input-name {
  border-radius: 5px;
  border: none;
  background-color: #eeebf1;
  padding: 5px;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}

.lista-presentes {
  background-color: #fff;
  font-size: 16px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-gabiAndPredro {
  background: url(./img/gabiAndPredro.jpeg);
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-position: center -50px;
  background-size: 100%;
  margin-right: 20px;
}

.text-introduction {
  flex: 1;
  text-align: left;
}

.container-introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.divider {
  border-right: solid 0.5px #282c34;
  margin-right: 20px;
  height: 280px;
}

.divider-page {
  width: 100%;
  height: 5px;
  background: #282c34;
}

.list {
  height: 30px;
  width: 27px;
  margin-right: 15px;
}

.quantityList {
  background: red;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  font-size: 13px;
  margin-right: -8px;
  z-index: 1;
}

@media (max-width: 500px) {
  .container-introduction {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .img-gabiAndPredro {
    margin-right: 0px;
  }

  .divider {
    border-top: solid 0.5px #282c34;
    width: 100%;
    border-right: none;
    height: 0;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 0;
  }
}
